<form class="d-flex justify-content-center" action="/users/resetpassword" method="POST">
  <div id="login-form" class="form-group">
    <h2 class="form-signin-heading text-center font-style">Reset Your Password</h2>
    <label for="email" class="mt-3">Email Adress</label>
    <input type="text" name="email" class="form-control" value="" placeholder="Enter email" required autofocus>
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Send</button>
  </div>
</form>