<form class="d-flex justify-content-center" action="/users/setnewpassword/:<%= secretToken %>" method="POST">
  <div class="form-group">
    <h2 class="form-signin-heading text-center font-style">Set New Password</h2>
    <input type="hidden" name="secretToken" value="<%= secretToken %>">
    <label for="password" class="mt-3">Set New Password</label>
    <input type="password" name="password" class="form-control" value="" placeholder="Enter password" required autofocus>
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Send</button>
  </div>
</form>